.form-elem{
    position: relative;
    display: block;
    span{
        position: absolute;
        top: 50%;
        left: 2.2rem;
        padding: 0 0.5rem;
        font-size: 1.4rem;
        color: var(--grey);
        transform: translateY(-50%); 
        background-color: var(--white);
        box-sizing: border-box;
        transition: var(--great-transition);
        sup{
            position: absolute;
            top: 0;
            color: var(--red);
        }
     }
    .form-elem__input{
        display: block;
        width: 100%;
        height: 6rem;
        border: 1px solid var(--border);
        border-radius: 1rem;
        padding: 0 2.2rem;
        box-sizing: border-box;
        font-size: 1.4rem;
        color: var(--black);
        font-weight: 500;
         &::-webkit-input-placeholder,
         &::-moz-placeholder,
         &:-moz-placeholder,
         &:-ms-input-placeholder,
         &::placeholder {
             color: transparent;
         } 
    
         &:focus, 
         &:not(:placeholder-shown) { 
             &~span {
                top: 0;
                font-size: 1.2rem;
             }
         }
         &[disabled="disabled"]{
            background-color: var(--lightgrey);
            cursor: auto;
            
         }
         &[disabled="disabled"] ~ span{
            background-color: transparent;
            opacity: 0.5;
            sup{ 
                color: inherit;
            }
            & ~ svg{
                opacity: 0.5;
            }
         }
         
    }
    input[type="password"]{
        font-size: 2rem; 
    } 
    &--active{
        &>span{
            top: 0;
        }
    }
    &--password{
        .form-elem__input{
            padding-right: 6rem;
        }
        svg{
            position: absolute;
            top: 50%;
            right: 1.8rem;
            width: 2.1rem;
            height: 2.1rem;
            transform: translateY(-50%);
            cursor: pointer;
            path{
                stroke: #7482A2;
                transition: var(--great-transition);
            }
            &:hover{ 
                path{
                    stroke: var(--blue); 
                }
            }
        }
        
    }
    &--date{
        svg{
            position: absolute;
            width: 2rem;
            height: 2rem;
            top: 50%;
            right: 2.3rem;
            transform: translateY(-50%);
        }
    }
    &.form-elem__textarea-box{
        .form-elem__textarea{
            display: block;
            width: 100%;
            height: 18rem;
            border: 1px solid var(--border);
            border-radius: 1rem;
            padding: 2rem 2.2rem;
            box-sizing: border-box;
            font-size: 1.4rem;
            color: var(--black);
            font-weight: 500;
            resize: none;
             &::-webkit-input-placeholder,
             &::-moz-placeholder,
             &:-moz-placeholder,
             &:-ms-input-placeholder,
             &::placeholder {
                 color: transparent;
             } 
             &::-moz-placeholder,
             &:-moz-placeholder{
                color: red;
             }
             &:focus, 
             &:not(:placeholder-shown) { 
                 &~span {
                    top: -0.9rem;
                    font-size: 1.2rem;
                 }
             }
        }
        span{
            top: 1.8rem;
            transform: translate(0, 0);
        }
    }
    
    .choices { 
        margin-bottom: 0; 
        font-size: 1.6rem;
        &.is-disabled{ 
            & ~ span{
                opacity: 0.5;
                background-color: transparent;
                sup{ 
                    color: inherit;
                }
             }
            .choices__inner{
                background-color: var(--lightgrey); 
            }
            .choices__list{
                cursor: auto;
            }
            &::after{
                opacity: 0.5;
            }
         }
        .choices__inner {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            border: 1px solid var(--border);
            background-color: transparent;
            padding: 0 3rem;
            padding-right: 5rem;
            // padding-top: 1.5rem;
            border: 1px solid var(--border);
            border-radius: 1rem;
            font-size: 1.4rem;
            min-height: 6rem;
            overflow: hidden;
            box-sizing: border-box;
        }
        &[data-type*=select-one]::after {
            content: "";
            height: 1.6rem;
            width: 1.6rem; 
            background-image: url(../img/select-arrow.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            border-color: transparent;
            border-width: 0;
            position: absolute;
            right: 2.1rem;
            top: 50%;
            margin-top: -0.6rem;
            pointer-events: none;
            transition: all 100ms ease;
            transform: scale(1);
        } 
        &[data-type*=select-one].is-open::after{
            transform: scale(-1);
        }
        .choices__item--selectable{
            color: var(--black);
            font-size: 1.4rem;
            font-weight: 500;
        }
        .choices__list--single{
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items:center;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            padding-left: 2.2rem;
            padding-right: 5rem;
            overflow: hidden;
        }
        
        .choices__list.choices__list--dropdown{
            .choices__item:first-child{
                // position: absolute;
                // top: 0;
                // left: 0;
                // width: 1px;
                // height: 1px;
                // overflow: hidden;
            }
        }
        .choices__list--dropdown .choices__item--selectable, 
        .choices__list[aria-expanded] .choices__item--selectable{
            padding-right: 3rem;
            font-size: 1.4rem;
            &::after{
                display: none;
            }
        }
    }
    .choices__placeholder{
        display: none;
    }
}
.file-input{
    .jFiler-input-dragDrop{
        cursor: pointer;
    }
    &[disabled="disabled"] ~ .jFiler-input-dragDrop{
        cursor: auto;
        opacity: 0.5;
    }
}
fieldset{
    background-color: var(--white);
    border-radius: 1rem;
    padding: 3rem 3rem 2.6rem 3rem;
}
.form-elem-checkbox{
    .form-elem-checkbox__container{
        position: relative;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 0.6rem;
        margin-right: 1rem;
        background-color: var(--lightgrey);
        cursor: pointer;
        input{
            display: none;
        }
        svg{
            position: absolute;
            top: 50%;
            left: 50%; 
            width: 1.2rem;
            height: 1.2rem;
            transform: translate(-50%, -50%);
            transition: var(--great-transition);
            opacity: 0;
        }
        input:checked ~ svg{
            opacity: 1;
        }
    }
    .form-elem-checkbox__caption{
        font-size: 1.4rem;
        line-height: 1.5;
    }
}
.form-elem-checkbox-full{ 
     position: relative;
     display: block;
    input{
        display: none;
    }
    svg{
        float: left;
        display: block;
        width: 2.4rem;
        height: auto;
        margin-right: 1rem;
        cursor: pointer;
        path{
            opacity: 0;
            transition: var(--great-transition);
        }
    }
    input:checked ~ svg{
        path{
            opacity: 1;
        }
    } 
    .form-elem-checkbox-full__caption{
        position: relative;
        display: block;
        padding-top: 0.2rem;
        box-sizing: border-box;
        overflow: hidden;
    }
    input[disabled="disabled"] ~ svg{
        cursor: auto;
    }
    input[disabled="disabled"] ~ svg + .form-elem-checkbox-full__caption{
        opacity: 0.5;
    }
    &::after{
        content: '';
        display: table;
        width: 100%;
        clear: both;
    } 
}
.form-elem-radio-full{
    display: block;
    input[type="radio"]{
        display: none;
    }
    i{
        float: left;
        position: relative;
        display: block; 
        margin-right: 1rem;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        background-color: var(--lightgrey);
        cursor: pointer; 
        // box-shadow: inset 0 0 0 1px var(--green);
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 35%;
            height: 35%;
            border-radius: 50%;
            background-color: var(--green);
            transform: translate(-50%, -50%) scale(0);
            transition: var(--great-transition);
        }
    }
    .form-elem-radio-full__caption{
        position: relative;
        display: block;
        padding-top: 0.2rem;
        box-sizing: border-box;
        overflow: hidden;
    }
    input[type="radio"]:checked ~ i{
        &::before{
            transform: translate(-50%, -50%) scale(1);
        }
    }
    input[disabled="disabled"] ~ i{
        cursor: auto;
        & + .form-elem-radio-full__caption{
            opacity: 0.5;
        }
    }
    
}
.checkbox-list{
    li{
        margin-bottom: 1.5rem;
    }
}
.auth-form, .reg-form{
    .form-elem{
        &:not(:first-child){
            margin-top: 3.1rem;
        }
    }
    .forgot-pass{
        display: block;
        margin-top: 1rem;
        font-size: 1.2rem; 
    }
    .form-elem-checkbox{
        margin-top:2.5rem;
    }
    .btn-submit{
        width: auto;
        margin-top: 3.3rem;
    }
    .form-descr-paragraph{
        margin-top: 1.5rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.33;
        color: var(--grey);
    }
}
form{
    .columns-box{
        margin-bottom: 3rem;
        .form-elem{
            margin-bottom: 0 !important;
        }
    }
}
.form-warning{
    font-size: 1.2rem;
    color: #7482A2;
    font-weight: 400;
    line-height: 1.5;
}
.form-questionnaire{
    .form-questionnaire__item{
        display: none; 
    }
    .spoiler{
        margin-bottom: 2rem;
    }
    .relative-box-separator{
        border-top: 1px solid var(--grey);
        padding-top: 3rem;
    }
    .explanation{
        margin-bottom: 4rem;
    }
    .form-elem{
        margin-bottom: 3rem;
    } 
    fieldset{
        margin-bottom: 3rem;
        .btn{
            width: auto;
            &--with-elem{
                min-width: 1.6rem;
            } 
        }
    }
    .form-questionnaire__btn-box{
        display: flex;
        justify-content: flex-end;
        &--two-btn{
            .btn{
                &:first-child{
                    margin-right: 1.5rem;
                }
                &:last-child{
                    margin-left: 1.5rem;
                } 
            }
        } 
        .btn{ 
            &--with-elem{
                justify-content: center; 
            }
        }
    }
    .form-questionnaire__condition{
        position: relative;
        display: block;
        margin-top: 1rem;
        color: var(--red);
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.36;
        text-align: center;
        opacity: 1; 
        transition: var(--great-transition);
        &--hide{
            opacity: 0; 
            display: opacity;
        }
    }
}
.choising-form{
    .choising-form{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .form-elem-checkbox-full{
        &:not(:first-child){
            margin-top: 1rem;
        }
    }
    .btn{
        max-width: 400px;
        margin: 0 auto;
        margin-top: 2rem;
    }
}
.form-description{
    font-size: 2rem;
}
.stmes-form{
    .form-description{
        margin-bottom: 3rem;
    }
    h1{
        margin-bottom: 3rem;
    }
    .form-elem{
        &:not(:first-child){
            margin-top: 3rem;
        }
    }
    .right-col{
        position: relative;
        grid-row: 1/4;
        grid-column: 2/4;
    }
}