@media screen and (max-width: 1090px){
    .btn-burger{
        display: block;
        z-index: 101;
    }
    .main-menu-box{
        position: fixed;
        top: 0;
        left: -1000px;
        height: 100%;
        padding-top: 1.5rem;
        background-color: var(--white);
        z-index: 100;
        transition: var(--great-transition);
        &--show{
            left: 0;
        }
        .logo{
            display: flex;
            margin-bottom: 1.5rem;
            margin-left: 2.4rem;
        }
        .main-menu{
            display: block;
            li{
                border-top: 1px solid var(--border);
                border-bottom: 1px solid var(--border);
                padding: 2rem 2.4rem;
                box-sizing: border-box;
                margin-right: 0;
                a{
                    padding: 0;
                    font-size: 1.4rem;
                    line-height: 1.2;
                    &::after {
                        display: none;
                    }
                }
            } 
        }
    }
}
@media screen and (max-width: 999px){
    #header {
        .header__top { 
            padding-top: 1.5rem;
            padding-bottom: 1.5rem; 
        }
    }
}
@media screen and (max-width: 990px){
    .questionnaire-section {
        .questionnaire-box{
            .left-col{
                display: none;
            }
            .right-col{
                width: 100%;
                padding-left: 0;
            }
        }
    }
}

@media screen and (max-width: 900px){
    .statement {
        position: relative;
        background-color: var(--white);
        border-radius: 1rem;
        padding: 1.5rem 2rem 7rem 2rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        .statement__btn{ 
            bottom: 0;
            top: auto; 
            justify-content: center; 
            width: 100%;
            height: 5rem;
            margin-top: 2rem;
        }
    }
}
@media screen and (max-width: 850px){
    .stmes-form{
        .columns-box--two-col { 
            grid-template-columns: repeat(1 ,1fr);
        }
        .right-col {
            position: relative; 
            grid-row: auto; 
            grid-column: auto;
        }
    }
    
}
@media screen and (max-width: 750px){
    :root{
        font-size: 9px;
    } 
    .logo {
        img { 
            margin-right: 1rem;
            margin-right: 1rem;
        }
    }
    .output-btn{
        max-width: 21.8rem;
        padding: 1.4rem 2.2rem;
    }
}
@media screen and (max-width: 700px){ 
    form .columns-box{
        margin-bottom: 0;
        display: block;
        .form-elem{
            margin-bottom: 3rem !important;
        }
    }
    .statement {
        .statement__info-panel{
            flex-direction: column;
            .statement-info-item{
                display: block;
                margin-top: 1rem;
            }
        }
    }
 
}
@media screen and (max-width: 620px){
    .output-btn{
        width: 5.7rem;
        min-width: 5.7rem;
        padding: 0;
        justify-content: center;
        span{
            display: none;
        }
        svg{
            min-width: 2rem;
            height: auto;
        }
    }
}
@media screen and (max-width: 620px){
    .referral-cards-box { 
        grid-template-columns: repeat(1,1fr); 
        padding: 2rem;
        grid-gap: 2rem;
    }
}
@media screen and (max-width: 550px){
    .main-menu-box{
        width: 100%;
    }
}
@media screen and (max-width: 460px){
    .header__top{
        .logo{
            span{
                display: none;
            }
            img{
                margin-right: 0;
            }
        }
    }
    .notification-tab{
        width: 300px;
        right: -224%;
    }
    .referral-cards-box {  
        padding: 1rem; 
    }
    fieldset {
        background-color: var(--white);
        border-radius: 1rem;
        padding: 3rem 1.5rem 2.6rem 1.5rem;
    }
    .explanation{
        .explanation__icon { 
            top: 0;
            float: none;
            width: 6rem;
            height: 6rem; 
            margin: 0 auto;
            margin-bottom: 2rem;
            svg{
                width: 100%;
                height: auto;
            }
        }
    }
    
} 

@media screen and (max-width: 430px){
    .form-questionnaire {
        .form-questionnaire__btn-box{
            position: relative;
            flex-direction: column;
            overflow: hidden; 
            .btn{
                margin-bottom: 3rem;
            }
            &--two-btn {
                .btn:first-child,
                .btn:last-child {
                    margin: 0;
                    margin-bottom: 3rem;
                }
            }
        }
        .form-questionnaire__condition{
            margin-top: 0
        }
    }
    
}